.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
}

html {
  font-size: 10px;

  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  font-family: "Lato", Tahoma, sans-serif;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

@media (max-width: 1019px) {
  .container {
    width: 100%;
  }
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  padding: 30px 0;

  background-color: #2d303a;
}

@media (max-width: 767px) {
  .header {
    padding: 24px 0;
  }
}

.header--bottom {
  height: 6px;

  background-color: #323746;
}

.wrapper {
  padding: 0 40px;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 30px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

@media (max-width: 767px) {
  .header__content {
    padding: 0 20px;
  }
}

.link {
  text-decoration: none;
}

.logo {
  display: inline-block;
  margin-top: 4px;

  font-weight: 700;
  font-size: 2.5rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
}

@media (max-width: 767px) {
  .logo {
    font-size: 2rem;
  }
}

.red {
  color: #f06c64;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 370px;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .nav__links {
    display: none;
  }
}

.nav__point {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.nav__separator {
  color: #494e62;
}

.nav__point--active,
.nav__point:hover {
  color: #f06c64;
}

.slider {
  position: relative;

  height: 600px;
  overflow: hidden;
}

@media (max-width: 1019px) {
  .slider {
    height: 452px;
  }
}

@media (max-width: 767px) {
  .slider {
    height: 221px;
  }
}

.slider__arrow {
  position: absolute;
  top: 274px;
  z-index: 2;

  /* display: inline-block; */

  width: 40px;
  height: 40px;

  background-color: transparent;
  background-image: url(assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 43%;
  border: none;

  /* border-radius: 50%; */
  cursor: pointer;
}

@media (max-width: 1019px) {
  .slider__arrow {
    top: 212px;
  }
}

@media (max-width: 767px) {
  .slider__arrow {
    top: 98px;
  }
}

.slider__arrow--left {
  left: 30px;
}

@media (max-width: 1019px) {
  .slider__arrow--left {
    left: 20px;
  }
}

@media (max-width: 767px) {
  .slider__arrow--left {
    left: 0;
  }
}

.slider__arrow--right {
  right: 30px;

  transform: rotateY(180deg);
}

@media (max-width: 1019px) {
  .slider__arrow--right {
    right: 20px;
  }
}

@media (max-width: 767px) {
  .slider__arrow--right {
    right: 0;
  }
}

.slider__slide {
  position: relative;

  display: none;

  animation: 0.5s ease-in-out;
}

.slider__next,
.slider__active {
  display: block;
}

.slider__next {
  position: absolute;
  top: 0;

  width: 100%;
}

.slider__slide1 {
  box-sizing: border-box;
  height: 100%;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider__slide2 {
  height: 100%;
  /* background-image: url(assets/img/slide2.png); */
}

.slider__img {
  width: 100%;
  height: 100%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.slider__phone {
  position: absolute;
  z-index: 1;

  width: 215px;
  height: 460px;

  background-image: url("assets/img/phone.png");
  background-repeat: no-repeat;
}

@media (max-width: 1019px) {
  .slider__phone {
    width: 162.36px;
    height: 344.26px;

    background-image: url("assets/img/phone-tablet.png");
  }
}

@media (max-width: 767px) {
  .slider__phone {
    width: 79.28px;
    height: 168.1px;

    background-image: url("assets/img/phone-mobile.png");
  }
}

.slider__phone-inner-wrapper {
  position: relative;
}

.slider__phone--vertical {
  top: 53px;
  left: 112px;
}

@media (max-width: 1019px) {
  .slider__phone--vertical {
    top: 41px;
    left: 84px;
  }
}

@media (max-width: 767px) {
  .slider__phone--vertical {
    top: 20px;
    left: 41px;
  }
}

.slider__phone--horizontal {
  top: 52px;
  right: 260px;

  transform: rotate(90deg);
}

@media (max-width: 1019px) {
  .slider__phone--horizontal {
    top: 42px;
    right: 196px;
  }
}

@media (max-width: 767px) {
  .slider__phone--horizontal {
    top: 20px;
    right: 98px;
  }
}

.slider__shadow {
  position: absolute;

  width: 240px;
  height: 485px;

  background-image: url("assets/img/shadow.png");
  background-repeat: no-repeat;
}

@media (max-width: 1019px) {
  .slider__shadow {
    width: 180.71px;
    height: 363.67px;

    background-image: url("assets/img/shadow-tablet.png");
  }
}

@media (max-width: 767px) {
  .slider__shadow {
    width: 88.24px;
    height: 177.57px;

    background-image: url("assets/img/shadow-mobile.png");
  }
}

.slider__shadow--vertical {
  top: 53px;
  left: 112px;
}

@media (max-width: 1019px) {
  .slider__shadow--vertical {
    top: 41px;
    left: 84px;
  }
}

@media (max-width: 767px) {
  .slider__shadow--vertical {
    top: 20px;
    left: 41px;
  }
}

.slider__shadow--horizontal {
  top: 51px;
  right: 232px;

  transform: rotate3d(1, 1, 0, 180deg);
}

@media (max-width: 1019px) {
  .slider__shadow--horizontal {
    top: 42px;
    right: 176px;
  }
}

@media (max-width: 767px) {
  .slider__shadow--horizontal {
    top: 19px;
    right: 89px;
  }
}

.slider__picture {
  position: absolute;
  z-index: 1;
}

.slider__picture-vertical {
  top: 65px;
  left: 14px;

  width: 188px;
  height: 333px;

  background-image: url("assets/img/img1.png");
  background-position: -14px -135px;
}

@media (max-width: 1019px) {
  .slider__picture-vertical {
    top: 49px;
    left: 11px;

    width: 141.55px;
    height: 250.73px;

    background-image: url("assets/img/img1-tablet.png");
    background-position: initial;
  }
}

@media (max-width: 767px) {
  .slider__picture-vertical {
    top: 24px;
    left: 5px;

    width: 69.12px;
    height: 122.43px;

    background-image: url("assets/img/img1-mobile.png");
    background-position: initial;
  }
}

.slider__picture-horizontal {
  top: 137px;
  left: -59px;

  width: 333px;
  height: 188px;

  background-image: url(assets/img/img2.png);
  background-position: -125px -119px;
  transform: rotate(-90deg);
}

@media (max-width: 1019px) {
  .slider__picture-horizontal {
    top: 103px;
    left: -43px;

    width: 250.73px;
    height: 144.55px;

    background-image: url(assets/img/img2-tablet.png);
    background-repeat: no-repeat;
    background-position: initial;
  }
}

@media (max-width: 767px) {
  .slider__picture-horizontal {
    top: 51px;
    left: -21px;

    width: 122.43px;
    height: 69.12px;

    background-image: url(assets/img/img2-mobile.png);
    background-repeat: no-repeat;
    background-position: initial;
  }
}

.slider-bottom {
  height: 6px;

  background-color: #ea676b;
}

.services {
  box-sizing: border-box;

  /* height: 500px; */
  padding: 62px 0 68px 0;

  background-color: #f2f2f2;
  border-bottom: 6px solid white;
}

@media (max-width: 1019px) {
  .services {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .services {
    padding: 26px 0;
  }
}

.services__header {
  margin-bottom: 23px;

  font-weight: 900;
  font-size: 3rem;
  color: #666d89;
}

.services__paragraph {
  margin-bottom: 45px;
  overflow: hidden;

  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
}

@media (max-width: 1019px) {
  .services__paragraph {
    margin-bottom: 28px;
  }
}

.services__column-layout {
  display: grid;
  justify-content: space-between;

  grid-auto-rows: 87px;
  grid-column-gap: 19px;
  grid-row-gap: 36px;
  grid-template-columns: repeat(3, 300px);
}

@media (max-width: 1019px) {
  .services__column-layout {
    grid-gap: 53px;
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 767px) {
  .services__column-layout {
    display: block;
  }
}

.services__img-container {
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 59px;
  height: 59px;
  margin-right: 20px;
  margin-left: 1px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #666d89;
  border-radius: 50%;
}

.services__img-container--pen {
  background-image: url("assets/img/pen.svg");
}

.services__img-container--bulb {
  background-image: url("assets/img/bulb.svg");
}

.services__img-container--heart {
  margin-right: 22px;
  margin-left: 2px;

  background-image: url("assets/img/heart.svg");
}

.services__img-container--phone {
  background-image: url("assets/img/phone.svg");
}

.services__img-container--bubble {
  background-image: url("assets/img/bubble.svg");
}

.services__img-container--star {
  margin-right: 22px;
  margin-left: 2px;

  background-image: url("assets/img/star.svg");
}

.services__tile {
  display: flex;
  overflow: hidden;
}

@media (max-width: 767px) {
  .services__tile {
    margin-bottom: 30px;
  }

  .services__tile:last-child {
    margin-bottom: 0;
  }
}

.services__tile-header {
  margin-top: -2px;
  margin-bottom: 10px;

  font-weight: 900;
  font-size: 1.8rem;
  color: #666d89;
}

.services__tile-text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 22px;
  text-align: justify;
  color: #767e9e;
}

.services-bottom {
  height: 6px;

  background-color: #ffffff;
}

.portfolio {
  /* height: 869px; */
  background-color: #2d303a;
}

.portfolio__content {
  padding-top: 63px;
}

@media (max-width: 767px) {
  .portfolio__content {
    padding-top: 42px;
  }
}

.header-margin {
  margin-bottom: 23px;
}

.section-header {
  font-weight: 900;
  font-size: 3rem;
  color: #666d89;
}

.portfolio__tag-container {
  display: flex;
  margin-top: 9px;
  margin-bottom: 18px;
  overflow: hidden;
}

.portfolio__tag {
  margin-right: 9px;
  padding: 0 8px;
  overflow: hidden;

  font-weight: 400;
  line-height: 20px;
  font-family: "Lato";
  color: #767e9e;
  white-space: nowrap;

  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio__tag:last-child {
  margin-right: 0;
}

.portfolio__tag:hover,
.portfolio__tag--active {
  color: #dedede;

  border-color: #dedede;
}

.portfolio__column-layout {
  display: grid;
  overflow: hidden;

  grid-gap: 20px;
  grid-template-columns: repeat(4, 220px);
}

@media (max-width: 1019px) {
  .portfolio__column-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .portfolio__column-layout {
    grid-gap: 14px;
    grid-template-columns: 1fr 1fr;
  }
}

.portfolio-bottom {
  height: 6px;
  margin-top: 67px;

  background-color: #323746;
}

@media (max-width: 767px) {
  .portfolio-bottom {
    margin-top: 34px;
  }
}

.portfolio__img {
  box-sizing: border-box;
  width: 100%;

  cursor: pointer;
}

@media (max-width: 767px) {
  .portfolio__img:nth-child(n + 9) {
    display: none;
  }
}

.portfolio__img--active {
  border: 5px solid #f06c64;
}

.about-us {
  background-color: #f2f2f2;
}

.about-us__content {
  padding-top: 62px;
}

@media (max-width: 767px) {
  .about-us__content {
    padding-top: 33px;
  }
}

.about-us__employees-container {
  margin-bottom: 67px;
  padding-top: 43px;
}

@media (max-width: 767px) {
  .about-us__employees-container {
    margin-bottom: 45px;
    padding-top: 33px;
  }
}

.employees {
  display: grid;

  column-gap: 19px;

  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 767px) {
  .employees {
    display: block;
  }

  .employees__card {
    margin-bottom: 35px;
  }

  .employees__card:last-child {
    margin-bottom: 0;
  }
}

.employees__photo {
  width: 100%;
  margin-bottom: 15px;
}

.employees__name {
  display: block;
  height: 18px;
  margin-bottom: 10px;
  overflow: hidden;

  font-weight: 900;
  font-size: 1.8rem;
  color: #666d89;
  text-overflow: ellipsis;
}

@media (max-width: 1019px) {
  .employees__name {
    margin-bottom: 5px;
  }
}

.employees__info {
  display: block;
  margin-bottom: 21px;
  overflow: hidden;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
  color: #767e9e;
}

@media (max-width: 1019px) {
  .employees__info {
    margin-bottom: 17px;
  }
}

.social {
  display: flex;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  margin-right: 8px;

  border: 1px solid #666d89;
  border-radius: 50%;
}

.social__link:hover {
  background-color: #ffffff;
}

.about-us__bottom {
  height: 6px;

  background-color: #ffffff;
}

.feedback {
  background-color: #f06c64;
}

.feedback__content {
  padding-top: 62px;
  padding-bottom: 62px;
}

@media (max-width: 1019px) {
  .feedback__content {
    padding-top: 54px;
    padding-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .feedback__content {
    padding-top: 44px;
  }
}

.section-header {
  font-weight: 900;
  font-size: 3rem;
  color: #666d89;
}

.section-header--feedback {
  color: #f0d8d9;
}

.section-text {
  overflow: hidden;

  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
}

.section-text--small {
  /* height: 30px; */
}

.section-text--feedback {
  color: #f0d8d9;
}

.feedback__text-margin {
  margin-bottom: 42px;
}

@media (max-width: 1019px) {
  .feedback__text-margin {
    margin-bottom: 19px;
  }
}

.header-margin {
  margin-bottom: 23px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .feedback__form {
    margin-bottom: 32px;
  }
}

.feedback__input {
  margin-bottom: 16px;
  padding: 12px 14px;

  font-size: 1.2rem;
  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

.feedback__textarea::placeholder,
.feedback__input::placeholder {
  color: #f48c8f;
}

.feedback__textarea {
  height: 180px;
  margin-bottom: 16px;
  padding: 11px 14px;

  font-size: 1.2rem;
  font-family: "Lato", Tahoma, sans-serif;
  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;

  resize: none;
}

.feedback__2-column {
  display: grid;

  grid-column-gap: 21px;
  grid-template-columns: 1fr 32%;
}

@media (max-width: 767px) {
  .feedback__2-column {
    display: block;
  }
}

.feedback__button {
  align-self: flex-start;
  padding: 12px;

  font-family: "Lato", Tahoma, sans-serif;
  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .feedback__button {
    width: 100%;
  }
}

.contacts__header {
  margin-bottom: 10px;

  font-weight: 900;
  font-size: 1.8rem;
  color: #f0d8d9;
}

.contacts__text {
  margin-bottom: 21px;

  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
  color: #f0d8d9;
}

.contacts__text-line {
  display: block;

  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #f0d8d9;
  text-decoration: none;
}

.contacts__icon {
  display: inline-block;

  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__icon--location {
  width: 7px;
  height: 11px;
  margin-right: 10px;

  background-image: url("assets/img/location.svg");
}

.contacts__icon--phone {
  width: 11px;
  height: 11px;
  margin-right: 8px;

  background-image: url("assets/img/phone-contacts.svg");
}

.contacts__icon-mail {
  width: 13px;
  height: 8px;
  margin-right: 7px;

  background-image: url("assets/img/mail.svg");
}

.feedback-bottom {
  height: 6px;

  background-color: #ea676b;
}

.footer {
  padding: 21px 0 22px 0;

  background-color: #2d303a;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .footer__content {
    justify-content: center;
  }
}

.social {
  display: flex;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  margin-right: 8px;

  border: 1px solid #666d89;
  border-radius: 50%;
}

.social > li:last-child > a {
  margin-right: 0;
}

.social__link:hover {
  background-color: #ffffff;
}

.footer__copyright {
  margin-left: 2px;

  color: #666d89;
}

@media (max-width: 767px) {
  .footer__copyright {
    display: none;
  }
}

.mobile-nav,
.message-block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  width: 100%;
  height: 100%;

  background-color: #2d303a99;
}

.message-block--hidden {
  display: none;
}

.message {
  width: 20%;
  margin: 15% auto;
  padding: 10px;

  font-size: 1.4rem;

  background-color: #fefefe;
  border: 1px solid black;
}

.message-input {
  word-wrap: break-word;
}

.burger__button {
  display: none;
  padding: 0;

  background-color: transparent;
  border: none;
}

.burger__button--rotate {
  transform: rotate(90deg);
}

@media (max-width: 767px) {
  .burger__button {
    display: block;
  }
}

.mobile-nav {
  display: none;
}

.mobile-nav--open {
  display: block;
}

.mobile-nav__container {
  position: fixed;

  width: 278px;
  height: 100vh;

  background-color: #2d303a;
  box-shadow: 0 -40px 20px rgba(0, 0, 0, 0.4);
}

.mobile-nav__header {
  display: flex;
  margin-bottom: 184px;
  padding: 23px 0 0 23px;
}

.mobile-nav__logo {
  margin-left: 29px;
}

.mobile-nav__links-container {
  padding-left: 71px;
}

.mobile-nav__link {
  display: block;
  margin-bottom: 27px;

  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.mobile-nav__link--active,
.mobile-nav__link:hover {
  color: #f06c64;
}
